<html>
<head>
    <title></title>
</head>
<style>
</style>
<body>
    <layout name="Layout/index" />
    <div class="container">
        <div class="header">
            <h2>check</h2>
        </div>
        <div class="body">
            <div>
                <div class="panel panel-default">
                    <div class="panel-body" style="text-align: center;">
                        借款人审核表
                    </div>
                </div>

                <table class="table table-secondary table-hover text-center col-md-2">
                    <thead class="thead-dark">
                        <tr>
                            <th></th>
                            <th>时间</th>
                            <th>编号</th>
                            <th>借款人姓名</th>
                            <th>电话</th>
                            <th>金额</th>
                            <th>还款方式</th>
                            <th>期限(月)</th>
                            <th>总利息</th>
                            <th>月利息</th>
                            <th>手续费(%)</th>
                            <th>用途</th>
                            <th>状态</th>
                            <th>操作</th>
                        </tr>
                    </thead>
                    <tbody>
                        <volist name="result" id="val">
                            <tr>
                                <td><input type="checkbox"></td>
                                <td>{$val.create_time}</td>
                                <td>{$val.loan_id}</td>
                                <td>{$val.name}</td>
                                <td>{$val.number}</td>
                                <td>{$val.sum}</td>
                                <td>{$val.method}</td>
                                <td>{$val.deadline}</td>
                                <td>{$val.interest}</td>
                                <td>{$val.mon_interest}</td>
                                <td>{$val.poundage}</td>
                                <td>{$val.use}</td>
                                <td>
                                    <switch name="val['status']">
                                        <case value="1">待审核</case>
                                        <case value="2">审核通过</case>
                                        <case value="3">审核失败</case>
                                    </switch>
                                </td>
                                <td><button class="btn btn-primary btn-sm btn-block check_loan">审核</button></td>
                            </tr>
                        </volist>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="footer">

        </div>
    </div>
<!--  -->
<script>
$('.check_loan').on('click', function(){
    var loan_id = $(this).parent().parent().children().eq(2).text();
    //alert(loan_id);
    $.ajax({
        url: "{:U('admin/tools/jump')}",
        type: "post",
        dataType: "json",
        data: {
            flag1: 'admin',
            flag2: 'check',
            flag3: 'checkLoan',
            id: loan_id
        },
        success: function(data){
            if(data.status == 1){
                location.href = data.url;
            }
        }
    });
});
</script>
</body>
</html>