header {
    height: 5rem;
    line-height: normal;
}
header a {
    top: 0.4rem;
}
header p.plan {
    padding-top: 0.68rem;
    padding-bottom: 0.54rem;
    font-size: 0.36rem;
    letter-spacing: 0.02rem;
}
header p.num {
    font-size: 0.48rem;
    letter-spacing: 0.02rem;
}
header p.total {
    font-size: 0.3rem;
    letter-spacing: 0.01rem;
    padding-top: 0.18rem;
}
header p.num1 {
    letter-spacing: 0.01rem;
    padding-top: 0.66rem;
}
header p.num1 span {
    padding-right: 1.2rem;
    font-size: 0.35rem;
}
header p.rate {
    font-size: 0.28rem;
    letter-spacing: 0.01rem;
    padding-top: 0.41rem;
    height: 0.24rem;
}
header p.rate span {
    padding-right: 0.5rem;
    padding-left: 0.1rem;
}

section {
    margin-top: 0.49rem;
    margin-left: 0.22rem;
}

section .data {
    font-size: 0.3rem;
    letter-spacing: 0.01rem;
    color: #03cbfd;
    line-height: 0.3rem;
}
section .data p {
    margin-bottom: 0.61rem;
    text-align: center;
}
section .line {
    margin: 0.15rem 0.43rem auto 0.15rem;
    position: relative;
}
section .line img {
    position: absolute;
    width: 0.29rem;
    height: 0.3rem;
}
section .line .one {
    top: 1.2rem;
}
section .line .two {
    top: 2.4rem;
}
section .line .three {
    top: 3.6rem;
}
section .line .four {
    top: 4.8rem;
}

section .line .five {
    top: 6rem;
}
section .line .six {
    top: 7.2rem;
}
section .line .seven {
    top: 8.4rem;
}



section .line div {
    width: 0.06rem;
    height: 0.93rem;
    border-radius: 0.02rem;
    border: solid 0.02rem #03cbfd;
    position: absolute;
    left: 0.1rem;
}
section .line .line1 {
    top: 0.3rem;
    background: #03cbfd;
}
section .line .line2 {
    top: 1.46rem;
    background: #03cbfd;
}
section .line .line3 {
    top: 2.66rem;
    background: #03cbfd;
}
section .line .line4 {
    top: 3.86rem;
}
section .line .line5 {
    top: 5.06rem;
}
section .line .line6 {
    top: 6.26rem;
}
section .line .line7 {
    top: 7.46rem;
}
section .num {
    padding-left: 0.3rem;
}
section .num p {
    font-size: 0.36rem;
    letter-spacing: 0.02rem;
    color: #000000;
    padding-left: 1.1rem;
    padding-bottom: 0.32rem;
    padding-top: 0.32rem;
}
section .num p.one {
    padding-top: 0;
}
section .num div {
    border-bottom: 1px solid #000000;
    width: 5.38rem;
}