section {
    margin: 0.2rem auto 1.49rem;
    position: relative;
}
section>div {
    width: 3.1rem;
    height: 2.98rem;
    position: absolute;
    background-color: #f2fbfd;
    border-radius: 15px;
    text-align: center;
    font-size: 0.36rem;
    color: #03cbfd;
}
div .img {
    width: 2.36rem;
    height: 1.61rem;
    left: -0.74rem;
    top: 0.51rem;
    position: absolute;
}
section .img a img {
    position: absolute;
    z-index: 100;
    width: 2.36rem;
    height: 1.61rem;
    display: block;
    left: 1.1rem;
}
div p {
    width: 3.1rem;
    height: 0.63rem;
    background-color: #03cbfd;
    border-radius: 0 0 0.15rem 0.15rem;
    position: absolute;
    bottom: 0;
    color: #ffffff;
}
section .IDzm {
    left: 0.4rem;
}
section .IDfz {
    right: 0.4rem;
}

section .scID {
    top: 2rem;
    left: 0.4rem;
}
section .bank {
    top: 2rem;
    right: 0.4rem;
}

section.three {
    margin-top: 7.7rem;
    text-align: center;
    margin-bottom: 1.42rem;
}
section.three input {
    display: block;
    margin: 0 auto;
    text-align: center;
    width: 5.28rem;
    height: 0.59rem;
    border-radius: 0.1rem;
    border: solid 0.04rem #03cbfd;
    font-size: 0.3rem;
    letter-spacing: 0.01rem;
    color: #bbbbbb;
}
section.three input.name {
    margin-top: 0.5rem;
}
button {
    width: 4.7rem;
    height: 0.76rem;
    background-color: #ffffff;
    box-shadow: 0 0.03rem 0.05rem 0.01rem
    rgba(37, 36, 36, 0.29);
    border-radius: 0.2rem;
    margin: 0 auto;
    display: block;
    font-size: 0.37rem;
    letter-spacing: 0.02rem;
    color: #03cbfd;
}
.upload_input{
    top: -0.5rem;
    left: 0.7rem;
    width: 3.1rem;
    height: 2.98rem;
    position: absolute;
    background-color: #f2fbfd;
    border-radius: 15px;
    text-align: center;
    font-size: 0.36rem;
    color: #03cbfd;
    opacity: 0;
    z-index: 2000;
}